//@theme "/home/aaditya/.local/share/rofi/themes/nord.rasi"
//@theme "/home/aaditya/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/aaditya/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/aaditya/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/aaditya/.local/share/rofi/themes/simple-tokyonight.rasi"
@theme "/home/aaditya/.local/share/rofi/themes/simple-tokyonight.rasi"
